.navBarMain {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
}

.navBarMenu > ul {
    list-style-type: none;
    display: flex;
}

.navBarMenu > ul > li {
    padding: 10px;
}

.navBarLogo {
    width: 100px;
}