.restaurantCardMain {
    width: 254px;
    height: 300px;
    padding: 20px 20px 57px;
    margin: 10px;
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
    letter-spacing: 0;
    cursor: pointer;
    background-color: #fff;
}

.restaurantCardMain:hover {    
    box-shadow: 0 1px 5px rgba(0,0,0,.25);
}    

.restaurantCardMain > img {
    width: 100%;
    height: 164px;
    border-radius: 1.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    object-fit: cover;
    transform: none;
    opacity: 1;
    will-change: transform, opacity;
    transition: opacity 0.25s ease 0s, transform 0.25s ease 0s;
    filter: unset;

}

.restaurantCardMain > h2 {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.restaurantCardMain > h3 {
    color: #686b78;
    font-size: 13px;
    margin-top: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.restaurantCardOtherDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #535665;
    margin-top: 18px;
    font-size: 12px;
    font-weight: 300;
}